ci:
  autoupdate_schedule: weekly
  # Ignore local checks, since pre-commit.ci can't access poe
  skip: [lint, pytest, api-documentation]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: trailing-whitespace
    - id: check-json
    - id: check-yaml
    - id: check-toml
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: check-shebang-scripts-are-executable
    - id: check-added-large-files
    - id: check-ast
    - id: check-case-conflict
    - id: check-docstring-first
    - id: detect-private-key
    - id: mixed-line-ending
    - id: name-tests-test
      args: ["--pytest-test-first"]
  # The below is taken care of by poe lint (maybe look into this later and migrate some things from poe - see above)
  # - repo: https://github.com/astral-sh/ruff-pre-commit
  #   # Ruff version.
  #   rev: 'v0.0.271'
  #   hooks:
  #     - id: ruff
  #       args: [--fix, --exit-non-zero-on-fix]
  # - repo: https://github.com/psf/black
  #   rev: 23.3.0
  #   hooks:
  #     - id: black
  #       language_version: python3.11

  # nbQA is for quality assuring jupyter notebooks
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-ruff
      - id: nbqa-black
      - id: nbqa-pyupgrade
        args: ["--py37-plus"]
  - repo: https://github.com/python-poetry/poetry
    rev: 1.5.0
    hooks:
      - id: poetry-check
  - repo: local
    hooks:
      - id: lint
        name: lint
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
        language: system
        entry: poe lint
        types: [python]
        pass_filenames: false
      - id: pytest
        name: pytest
        stages: [pre-commit, manual]
        language: system
        entry: poe test
        types: [python]
        pass_filenames: false
      - id: api-documentation
        name: api-documentation
        stages: [pre-push, manual]
        language: system
        entry: poe doc-html
        types: [python]
        pass_filenames: false
